extends main_tpl.pug

block title
  | Payment

block maincontent
  div(class="main-block contacts-block" id="ContactsBlock")
      h1
          | contacts
      div(class="text-block")
          | creama cup, frappucino decaffeinated mocha sit galao
          br
          | seasonal french press brewed coffee. aromatic milk variety,
          br
          | roast doppio aroma breve qui con pannna galao?

  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
