extends main_tpl.pug

block title
  | Payment

block maincontent
  div(class="main-block")
    div(id="CalendarCnt")

  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
