extends main_tpl.pug

block title
  | Roles

block maincontent

  div(class="main-block role-block" id="RoleBlock")
    ul(class="image-list role-list" id="RoleList")
        each role in roles
            li(data-role-name=role.name)
                img(src="/images/darkfair/fool.png")
                div(class="name-cnt")
                    span= role.name
    div(class="role-info-cnt" id="RoleInfoCnt")
        img(src="/images/darkfair/fool.png")
        div(class="description-cnt")
            b(class="name")
            div(class="main-btn")
                | watch teaser
            p(class="description")
    div(class="main-btn buy-ticket-btn" id="BuyTicketBtn")
      | buy ticket for this role
    div(id="RecommendedRoleText" class="text-block")
      | Мы подобрали для вас 4 наиболее подходящиие роли, вы можете
      | выбрать одну из них, но так же ознакомьтесь с остальными.
      | Возможно оодна из них будет более интересной для вас. Скидка
      | на роли, которые были предложены: 5%.
      | Все роли равнозначные по интересности.
    ul(class="image-list role-list recommended-role-list" id="RecommendedRoleList")

  script(type="text/javascript")!= "window.roleListData = " + JSON.stringify(roles) + ";"
